@import "tailwindcss";
@import "@fontsource/inter";

body {
  font-family: 'Inter', sans-serif;
}

.scrollbar-bg::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.scrollbar-bg::-webkit-scrollbar-track {
  background: #4b5563;
}

.scrollbar-bg::-webkit-scrollbar-thumb {
  background: #9ca3af; 
  border-radius: 9999px;
}

.scrollbar-bg::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}


.scrollbar-bg {
  scrollbar-width: thin;
  scrollbar-color: #9ca3af #4b5563;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: white !important;
  caret-color: white !important;
  background-clip: text !important;
  background-color: transparent !important;
  transition: background-color 9999s ease-in-out 0s !important;
}
